{{define "main"}}
<main>
    <header class="homepage-header">
        <h1 class="pistachio">{{.Site.Params.PistachioLinux}} <span class="highlight">{{.Site.Params.PistachioVersionTag}}</span></h1>
        <h2 class="short-info">{{.Site.Params.WhatIsPistachio}}</h2>
        <img class="pistachio-showcase" src="img/showcase.png" alt="Pistachio Showcase" style="border-radius: 8px; width: 50rem;">
        <div class="homepage-header-buttons">
            <a class="button" href="https://github.com/PistachioLinux">GitHub</a>
            <a class="button" href="https://www.microsoft.com/store/productId/9P41G2MV9CQ3">Microsoft Store</a>
        </div>
    </header>
    {{if .Site.RegularPages}}
    <div class="blog-div">
        <h1>{{.Site.Params.blog}}</h1>
        <div class="blog-stuff">
            {{range first 10 .Site.RegularPages}}
            <a href="{{.RelPermalink}}" class="blog-post">
                <h2>{{.Title}}</h2>
                <div>
                    {{.Summary}}
                </div>
                <p>{{.Date.Format .Site.Params.dateformat}}</p>
            </a>
            {{end}}
        </div>
    </div>
    {{end}}
    <div class="homepage-content">
        {{.Content}}
    </div>
</main>
{{end}}