<nav class="nav">
    <div class="brand">
        <!--<a href="{{ .Site.BaseURL }}" class="brand-link">{{.Site.Title}}</a>-->
    </div>
    <!--
    <div class="languages">
        {{if .IsHome}}
        <a href="/en" class="language-link">English</a>
        <a href="/no" class="language-link">Norsk</a>
        {{else}}
        <a href="/en{{.Page.RelPermalink}}" class="language-link">English</a>
        <a href="/no{{.Page.RelPermalink}}" class="language-link">Norsk</a>
        {{end}}
    </div>
-->
</nav>